<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block title %}Studio Ludo{% endblock %}</title>

    {% block stylesheets %}
        <!-- vendors css -->
        <link rel="stylesheet" href="{{ asset('build/vendors.css') }}"/>
        s
    {% endblock %}

</head>

<body>
{% block body %}{% endblock %}

{% block javascripts %}

{% endblock %}

</body>
</html>
