{% extends 'base.html.twig' %}

{% block body %}

    <ul id="navigation">
        {% for item in cart %}
            <li>{{ dump(item) }}</li>
        {% endfor %}
    </ul>

{% endblock %}
{% block javascripts %}{% endblock %}

